@model ML.Producto
@{
    ViewData["Title"] = "Getall";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 style="text-align:center"><strong>Productos</strong></h1>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-1">
            @Html.ActionLink("", "Form", "Producto", htmlAttributes: new { @class = "btn btn-success bi bi-plus-circle-fill" })
        </div>
    </div>

    <br />

    <div class="row">
        @if(Model != null)
        {
            <table class="table table-responsive table-dark table-hover table-striped">
                <thead>
                    <tr>
                        <th>Actualizar</th>
                        <th>SKU</th>
                        <th>Producto</th>
                        <th>Numero de Material</th>
                        <th>Inventario</th>
                        <th class="visually-hidden">IdTipoProducto</th>
                        <th>Categoria</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(ML.Producto producto in Model.Productos)
                    {
                        <tr>
                            <td>
                                <a class="btn btn-warning bi bi-pencil-fill" href="@Url.Action("Form", "Producto", new { IdProducto = producto.IdProducto })"></a>
                            </td>
                            <td>@producto.IdProducto</td>
                            <td>@producto.NombreProducto</td>
                            <td>@producto.NumMaterial</td>
                            <td>@producto.Inventario</td>
                            <td class="visually-hidden">@producto.TipoProducto.IdTipoProducto</td>
                            <td>@producto.TipoProducto.Tipo</td>
                            <td>
                                <a class="btn btn-danger bi bi-x-circle-fill" href="@Url.Action("Delete", "Producto", new { IdProducto = producto.IdProducto })" onclick="return confirm('¿Estas seguro que deseas eliminar estos datos?');"></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.Message = "No se encontraron registros.";
            </div>
        }
    </div>
</div>